body{
    overflow-x: hidden;
}

.container{
    width: 600px;
    height: 758px;
    position: relative;
    border-radius: 30px;
    margin-bottom: 20px;
    display: flex;
    background: #FFF;
    left: 630px;
    top: 100px;
    flex-direction: column;

    .container-map{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .map-title{
            color: var(--Cinzas-Cinza-2, #3F3F55);
            font-family: Montserrat;
            font-size: 30px;
            font-style: normal; 
        }

        .map{
            display: flex;
            justify-content: center;
            position: relative;
            left: 230px;
            margin-top: 20px;
        }
    }

    .request-title{
        color: var(--Cinzas-Cinza-2, #3F3F55);
        font-family: Montserrat;
        font-size: 30px;
        display: flex;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        justify-content: center;
    }

    .container-detalhes{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;

        .detalhes{
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; 
            color: #444040;

            .detalhes-title{
                color: black;
            }
        }
    }

    .motoristas-title{
        color: var(--Cinzas-Cinza-2, #3F3F55);
        font-family: Montserrat;
        font-size: 30px;
        display: flex;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .motoristas-container{
        padding: 10px;
        border: 1px solid #D0D5DD;
        margin-bottom: 10px;
        border-radius: 8px;
        display: flex;
        gap: 8px;
        flex-direction: column;

        .request-button{
            background: var(--principais-rosa-normal, #DA0175);

            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }

}